@import url("/webpackHomework/src/css/plate.css");
@import url("/webpackHomework/src/css/button.css");

.container {
    padding: 50px 0;
}

span{
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}
