.button {
    outline: 0;
    color: antiquewhite;
}

.button_size_s {
    width: 80px;
    height: 40px;
    border-radius: 10px;
}

.button_color_green {
    background-color: OliveDrab;
}

.button_color_red {
    background-color: crimson;
}